<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [4]:
df.shape

(11552, 85)

In [20]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [6]:
# your code goes here
print(f"Number of duplicated values: {df.duplicated().sum()} rows in dataset")

Number of duplicated values: 154 rows in dataset

In [7]:
#based on the quiz
df['Respondent'].duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [8]:
# your code goes here
df.drop_duplicates(inplace=True)
df.shape

(11398, 85)

Verify if duplicates were actually dropped.

In [9]:
# your code goes here
print(f"Number of duplicated values: {df.duplicated().sum()} rows in dataset")

Number of duplicated values: 0 rows in dataset

In [13]:
#based on Normalize quiz
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [14]:
#based on the quiz
df['Respondent'].nunique()

11398

In [15]:
#based on quiz
df['Country'].isnull().sum()

0

In [16]:
#based on the quiz
df['EdLevel'].isnull().sum()

112

In [18]:
df['EdLevel'].value_counts()

Bachelor’s degree (BA, BS, B.Eng., etc.)                                              5852
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           2706
Some college/university study without earning a degree                                1361
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     516
Associate degree                                                                       383
Other doctoral degree (Ph.D, Ed.D., etc.)                                              259
Professional degree (JD, MD, etc.)                                                     154
I never completed any formal education                                                  28
Primary/elementary school                                                               27
Name: EdLevel, dtype: int64

In [110]:
df['Employment'].value_counts()

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [21]:
df['WorkRemote'].value_counts()

Less than once per month / Never                           5100
A few days each month                                      3213
Less than half the time, but at least one day each week    1097
All or almost all the time (I'm full-time remote)           961
It's complicated                                            461
More than half, but not all, the time                       299
About half the time                                         259
Name: WorkRemote, dtype: int64

In [111]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [22]:
df['ConvertedComp'].head()

0     61000.0
1     95179.0
2     90000.0
3    455352.0
4     65277.0
Name: ConvertedComp, dtype: float64

In [113]:
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [28]:
# your code goes here
new_df = pd.DataFrame(df.isna().sum(),columns=['Number of Missing values'])
new_df.reset_index(drop=False,inplace=True)
new_df.rename(columns={'index':'Column Name'},inplace=True)
new_df.sort_values('Number of Missing values',ascending=False,inplace=True)
new_df.head(30)

               Column Name  Number of Missing values
57            BlockchainIs                      2610
39              CodeRevHrs                      2426
56           BlockchainOrg                      2322
51      MiscTechWorkedWith                      2182
76            SONewContent                      1965
69           SOHowMuchTime                      1917
50  WebFrameDesireNextYear                      1617
52  MiscTechDesireNextYear                      1455
49      WebFrameWorkedWith                      1393
71              SOPartFreq                      1128
46  DatabaseDesireNextYear                      1042
31           ConvertedComp                       816
29               CompTotal                       809
9           UndergradMajor                       737
81               Ethnicity                       675
48  PlatformDesireNextYear                       544
80               Sexuality                       542
63              ScreenName                       507
19                MgrMoney                       497
18                MgrIdiot                       493
20                 MgrWant                       493
45      DatabaseWorkedWith                       453
23                 LastInt                       413
47      PlatformWorkedWith                       411
64              SOVisit1st                       325
61             SocialMedia                       293
77                     Age                       287
30                CompFreq                       206
41             PurchaseHow                       196
34           WorkChallenge                       164

Find out how many rows are missing in the column 'WorkLoc'

In [29]:
# your code goes here
df['WorkLoc'].isna().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [30]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [77]:
df['WorkLoc'].unique()

array(['Home', 'Office', 'Other place, such as a coworking space or cafe',
       nan], dtype=object)

Identify the value that is most frequent (majority) in the WorkLoc column.

In [31]:
#make a note of the majority value here, for future reference
df_work_loc = pd.DataFrame(df['WorkLoc'].value_counts())
df_work_loc.reset_index(drop=False, inplace=True)
#df_work_loc.shape
df_work_loc.rename(columns={'index':'Location','WorkLoc':'Count'},inplace=True)
df_work_loc

                                         Location  Count
0                                          Office   6806
1                                            Home   3589
2  Other place, such as a coworking space or cafe    971

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [32]:
# your code goes here
df['WorkLoc'].replace(np.nan,'Office',inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [33]:
# your code goes here
df['WorkLoc'].isna().sum()

0

In [34]:
df['WorkLoc'].value_counts()

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [86]:
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [84]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [35]:
df['CompFreq'].isnull().sum()

206

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [36]:
# your code goes here
#df['NormalizedAnnualCompensation']

df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = 1 * df['CompTotal']

df.loc[df['CompFreq'] == 'Monthly' ,'NormalizedAnnualCompensation'] = 12 * df['CompTotal']

df.loc[df['CompFreq'] == 'Weekly' ,'NormalizedAnnualCompensation'] = 52 *df['CompTotal']
df[['CompFreq','CompTotal','NormalizedAnnualCompensation']].head(30)

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0
15   Yearly   156000.0                      156000.0
16   Yearly    18000.0                       18000.0
17  Monthly     6400.0                       76800.0
18  Monthly     5000.0                       60000.0
19   Yearly   400000.0                      400000.0
20   Yearly    47300.0                       47300.0
21  Monthly    51500.0                      618000.0
22   Yearly   345000.0                      345000.0
23   Yearly    85000.0                       85000.0
24   Yearly   107000.0                      107000.0
25   Yearly    66000.0                       66000.0
26   Yearly    76800.0                       76800.0
27   Yearly    50000.0                       50000.0
28   Yearly   800000.0                      800000.0
29   Yearly    75000.0                       75000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).